[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple/"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
pymysql = "*"
flask-bootstrap = "*"
pillow = "*"
python-dotenv = "*"
pymemcache = "*"
flask-wtf = "*"
update = "*"
python-memcached = "*"

[requires]
python_version = "3.7"
