body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.ManagerLoginMiddle{
  vertical-align: middle;
}


.col-center-block {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}