{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Login{% endblock %}
{% block content %}
{#    <div class="jumbotron">#}
{#        <h1>图形验证码重用</h1>#}
{#        <p>图片验证码在成功使用后，未立即重置，或图形验证码为保证一次有效性，可使用上一次或之前的图片验证码进行校验。</p>#}
{#    </div>#}
    <div class="row">
        <div class="page-header">
            <h1>管理员登陆</h1>
            <h4>本业务场景模拟登陆业务场景中的图形验证码使用后未销毁，造成图形验证码不具备一次有效性，因此可以进行图形验证码重复使用登陆。</h4>
        </div>
        <div class="col-md-4 col-center-block">
            {{ wtf.quick_form(form) }}
            <!--点击图片重新获取验证码-->
            <img src="/agcode" onclick="this.src='/agcode?'+ Math.random()">
        </div>
    </div>
{% endblock %}